body{
  background-color: #f6f6f6;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

ol {
  margin: 0 auto;
  max-width: 1074px;
}

.form-block {
  display: block;
  margin: 0 auto 10px;
}

.app-title {
  text-align: center;
  color: #6e5bc6;
  font-size: 55px;
  font-family: Pacifico;
}

.create-form {
  line-height: 34px;
  display: inline-block;
  position: relative;
  top: -29px;
}

.hidden {
  display: none;
}

.list-container {
  list-style: none;
  display: inline;
    .description {
      font-size: 15px;
      color: black;
      text-align: justify;
      margin-right: 30px;
    }
  }

  .todo-item, .add-todo-block {
    vertical-align: top;
    background-color: #b7d5f7;
    width: 350px;
    margin: 0px 8px 8px 0px;
    height: 250px;
    display: inline-block;
    color: white;
    font-size:30px;
    text-align: center;

    .todo-title {
      font-size: 28px;
      margin: -15px 10px 0px;
    }
}

.add-todo-block {
  text-align: center;
  line-height: 204px;
  font-size: 147px;
  font-family: Pacifico;
  color: #eaeaea;
}
.close-button {
  color: #eaeaea;
  font: 21px sans-serif;
  position: relative;
  right: -330px;
  top: -200px;
  width: 17px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.delete-button {
  border: none;
  background-color: transparent;
  top: 200px;
  font-size: 20px;
  left: -21px;
}

.edit-button {
  position: relative;
  top: 200px;
  color: #eaeaea;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.add-button:hover {
  color: white;
  cursor: pointer;

}

.add-todo-title {
  font-size: 30px;
  color: white;
  margin: 15px;
}
